/* /////////////////////// */
/* /////// Resets //////// */
/* /////////////////////// */

html {
  box-sizing: border-box;
  background-image: url(/CSS/IMG/home.jpg);
  background-size: cover;
}
* , :before, *:after {
  box-sizing: inherit;
}

ul {
list-style: none;
}

a { 
  text-decoration: none;
  color: white;
  padding: 30px;
  font-family: 'Special Elite', cursive;
  font-size: 25px;
}

body {
  margin: 0;
}
.navbar {
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.377);
    text-align: center;

}
li {
    display: inline;
}

#band {
  padding: 15px;
  font-family: 'Special Elite', cursive;
  color: rgb(0, 0, 0);
  opacity: .8;
  text-align: center;
  font-size: 105px;
  margin-top: 40px;
}


/* PROMO container */
.promo-container {
  position: relative;
  background: #f1f1f1f1;
  margin-top: 40px;
}

/* Slides */
.mySlides {
  display: table-cell;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: rgb(136, 136, 136);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 1, 44, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #020013;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(131, 133, 153);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
  font-family: 'Special Elite', cursive;
  font-size: 30px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#tour {
  padding: 15px;
  font-family: 'Special Elite', cursive;
  color: rgb(36, 5, 0);
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
  grid-column: 1 / 5;
}
.dates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.dates div {
  border-style: ridge;
}
#tour {
  background-color: rgb(236, 236, 236);
  opacity: .95;
}
#merch {
  display: grid;
  padding: 15px;
  font-family: 'Special Elite', cursive;
  color: rgb(36, 5, 0);
  text-align: center;
  font-size: 20px;
  background-color: rgb(236, 236, 236);
  opacity: .95;
  margin-top: 40px;
  grid-column: 1 / 5;
}
.merch1 {
  font-size: 30px;
  grid-column: 1 / 5;
  margin-bottom: 10px;
}
.merch2 {
  font-size: 30px;
  grid-column: 1 / 2;
}
.merch3 {
  font-size: 30px;
  grid-column: 2 / 3;
}
.merch4 {
  font-size: 30px;
  grid-column: 3 / 4;
}
.merch5 {
  font-size: 30px;
  grid-column: 4 / 5;
}
footer {
  padding: 15px;
  font-family: 'Special Elite', cursive;
  color:rgb(255, 255, 255);
  opacity: .8;
  text-align: center;
  background-color: rgba(139, 139, 139, .4);
}